div{
    height: 200px;
    width: 200px;
    background-image: url("https://images.unsplash.com/flagged/photo-1557650454-65194af63bf9?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    position: fixed;
    top: 0px;
    right: 0px;
}